.flows.json.backup
[
    {
        "id": "8dd021bb.b57a4",
        "type": "tab",
        "label": "Brewster",
        "disabled": false,
        "info": ""
    },
    {
        "id": "bfaa1b94.62bbf8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "d4d2aaa4.3f773",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "brewsterdb",
        "name": "",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x"
    },
    {
        "id": "66b6f4fd.14bd8c",
        "type": "ui_group",
        "name": "TEMPERATUUR",
        "tab": "818280f8.fbf2d",
        "order": 1,
        "disp": true,
        "width": 8,
        "collapse": false
    },
    {
        "id": "35700b71.03d264",
        "type": "ui_group",
        "name": "T2",
        "tab": "b30d8d21.aaa0f8",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "27527a91.1832fe",
        "type": "ui_group",
        "name": "T3",
        "tab": "b30d8d21.aaa0f8",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "92c7af30.17e9a8",
        "type": "serial-port",
        "serialport": "/dev/ttyACM0",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "b30d8d21.aaa0f8",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "39d3a6b0.0f5642",
        "type": "ui_group",
        "name": "T3",
        "tab": "593a0f7e.e74b08",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "593a0f7e.e74b08",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "66f95b6e.2ba5d4",
        "type": "ui_group",
        "name": "KRANEN",
        "tab": "818280f8.fbf2d",
        "order": 4,
        "disp": true,
        "width": 5,
        "collapse": true
    },
    {
        "id": "58c426a1.17a658",
        "type": "ui_group",
        "name": "KRANEN",
        "tab": "818280f8.fbf2d",
        "order": 5,
        "disp": true,
        "width": 5,
        "collapse": true
    },
    {
        "id": "720d2ed2.786f8",
        "type": "ui_group",
        "name": "BROUW-PROGRAMMA",
        "tab": "818280f8.fbf2d",
        "order": 6,
        "disp": true,
        "width": 8,
        "collapse": true
    },
    {
        "id": "4da78f89.fde46",
        "type": "ui_group",
        "name": "BEDIENING",
        "tab": "818280f8.fbf2d",
        "order": 3,
        "disp": true,
        "width": 5,
        "collapse": true
    },
    {
        "id": "818280f8.fbf2d",
        "type": "ui_tab",
        "name": "EFFORT BREWERY",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "acbf4118.edba6",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "Gill Sans,Geneva,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "Gill Sans,Geneva,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "5ce5aba2.860bc4",
        "type": "ui_group",
        "name": "TEMPERATUUR LOG",
        "tab": "818280f8.fbf2d",
        "order": 2,
        "disp": true,
        "width": 8,
        "collapse": false
    },
    {
        "id": "2e723b0e.16ca54",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "66b6f4fd.14bd8c",
        "order": 2,
        "width": 8,
        "height": 1
    },
    {
        "id": "cbd9a454.b45818",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "66b6f4fd.14bd8c",
        "order": 3,
        "width": 8,
        "height": 1
    },
    {
        "id": "f0dc702a.fe5eb",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "66b6f4fd.14bd8c",
        "order": 5,
        "width": 8,
        "height": 1
    },
    {
        "id": "77c5b29a.0930fc",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "66b6f4fd.14bd8c",
        "order": 6,
        "width": 8,
        "height": 1
    },
    {
        "id": "12e3d92c.e1cc37",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "5ce5aba2.860bc4",
        "order": 2,
        "width": 8,
        "height": 1
    },
    {
        "id": "71260828.8f7c08",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "5ce5aba2.860bc4",
        "order": 3,
        "width": 8,
        "height": 1
    },
    {
        "id": "b47bd7af.c7f2c8",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "5ce5aba2.860bc4",
        "order": 5,
        "width": 8,
        "height": 1
    },
    {
        "id": "858be082.272f2",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "5ce5aba2.860bc4",
        "order": 6,
        "width": 8,
        "height": 1
    },
    {
        "id": "5d1204da.67444c",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "4da78f89.fde46",
        "order": 3,
        "width": 5,
        "height": 1
    },
    {
        "id": "bc44bec9.fe28d",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "4da78f89.fde46",
        "order": 4,
        "width": 5,
        "height": 1
    },
    {
        "id": "349a65ac.64c40a",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "4da78f89.fde46",
        "order": 7,
        "width": 5,
        "height": 1
    },
    {
        "id": "a1e7ca52.d0c2d8",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "4da78f89.fde46",
        "order": 8,
        "width": 5,
        "height": 1
    },
    {
        "id": "5d297d91.4c0874",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "66f95b6e.2ba5d4",
        "order": 3,
        "width": 5,
        "height": 1
    },
    {
        "id": "74e5c710.e13778",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "66f95b6e.2ba5d4",
        "order": 4,
        "width": 5,
        "height": 1
    },
    {
        "id": "39981e21.6fc892",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "66f95b6e.2ba5d4",
        "order": 7,
        "width": 5,
        "height": 1
    },
    {
        "id": "1f5ee2a5.26db5d",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "66f95b6e.2ba5d4",
        "order": 8,
        "width": 5,
        "height": 1
    },
    {
        "id": "4acb26d8.d0c748",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "58c426a1.17a658",
        "order": 3,
        "width": 5,
        "height": 1
    },
    {
        "id": "e7243765.7c8f48",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "58c426a1.17a658",
        "order": 4,
        "width": 5,
        "height": 1
    },
    {
        "id": "7cf50da2.b7a094",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "58c426a1.17a658",
        "order": 7,
        "width": 5,
        "height": 1
    },
    {
        "id": "4b8b89a1.6a7198",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "58c426a1.17a658",
        "order": 8,
        "width": 5,
        "height": 1
    },
    {
        "id": "bfc97111.b014",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "58c426a1.17a658",
        "order": 9,
        "width": 5,
        "height": 1
    },
    {
        "id": "40d75369.eacc4c",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "720d2ed2.786f8",
        "order": 4,
        "width": 8,
        "height": 1
    },
    {
        "id": "98679009.5c332",
        "type": "inject",
        "z": "8dd021bb.b57a4",
        "d": true,
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "brewster",
        "payload": "{\"sensordata\":{\"T1\":22.353,\"T2\":24.25,\"T3\":23.75}}",
        "payloadType": "json",
        "x": 170,
        "y": 480,
        "wires": [
            [
                "e3f7b09f.c05b88",
                "5c556b45.24c77c",
                "5645ba34.f8ed04"
            ]
        ]
    },
    {
        "id": "5645ba34.f8ed04",
        "type": "change",
        "z": "8dd021bb.b57a4",
        "name": "GetT1Data",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.sensordata.T1",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 680,
        "wires": [
            [
                "21d6c68f.c0e00a",
                "642e5062.3ebd48"
            ]
        ]
    },
    {
        "id": "e15415b1.7b4b2",
        "type": "function",
        "z": "8dd021bb.b57a4",
        "name": "FormatLogging",
        "func": "msg.payload = {\n    T1: msg.payload.sensordata.T1,\n    T2: msg.payload.sensordata.T2,\n    T3: msg.payload.sensordata.T3,\n    Pump: msg.payload.processdata.Pump,\n    Heating: msg.payload.processdata.Heater,\n    ProcessAuto: msg.payload.processdata.ProcessAuto,\n    ProcessStep: msg.payload.processdata.ProcessStep\n}\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 460,
        "y": 620,
        "wires": [
            [
                "35ea7af.413ec06",
                "e39675b0.f178c"
            ]
        ]
    },
    {
        "id": "35ea7af.413ec06",
        "type": "influxdb out",
        "z": "8dd021bb.b57a4",
        "influxdb": "d4d2aaa4.3f773",
        "name": "",
        "measurement": "brewster",
        "precision": "s",
        "retentionPolicy": "",
        "x": 830,
        "y": 580,
        "wires": []
    },
    {
        "id": "e39675b0.f178c",
        "type": "debug",
        "z": "8dd021bb.b57a4",
        "name": "Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 820,
        "wires": []
    },
    {
        "id": "21d6c68f.c0e00a",
        "type": "ui_gauge",
        "z": "8dd021bb.b57a4",
        "name": "",
        "group": "66b6f4fd.14bd8c",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "OPWARMVAT",
        "label": "C째",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "50",
        "seg2": "78",
        "x": 700,
        "y": 660,
        "wires": []
    },
    {
        "id": "642e5062.3ebd48",
        "type": "ui_chart",
        "z": "8dd021bb.b57a4",
        "name": "",
        "group": "5ce5aba2.860bc4",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "OPWARMVAT",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 700,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "9783007.18a5e",
        "type": "ui_gauge",
        "z": "8dd021bb.b57a4",
        "name": "",
        "group": "66b6f4fd.14bd8c",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "MAISCHVAT MOUT",
        "label": "C째",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "50",
        "seg2": "78",
        "x": 720,
        "y": 760,
        "wires": []
    },
    {
        "id": "ef7c798d.54aa2",
        "type": "ui_chart",
        "z": "8dd021bb.b57a4",
        "name": "",
        "group": "5ce5aba2.860bc4",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "MAISCHVAT MOUT",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 720,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "e3f7b09f.c05b88",
        "type": "change",
        "z": "8dd021bb.b57a4",
        "name": "GetT2Data",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.sensordata.T2",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 780,
        "wires": [
            [
                "9783007.18a5e",
                "ef7c798d.54aa2"
            ]
        ]
    },
    {
        "id": "601c801e.c00f08",
        "type": "ui_gauge",
        "z": "8dd021bb.b57a4",
        "name": "",
        "group": "66b6f4fd.14bd8c",
        "order": 7,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "MAISCHVAT WORT",
        "label": "C째",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "50",
        "seg2": "78",
        "x": 720,
        "y": 860,
        "wires": []
    },
    {
        "id": "ccff8adf.e5da",
        "type": "ui_chart",
        "z": "8dd021bb.b57a4",
        "name": "",
        "group": "5ce5aba2.860bc4",
        "order": 7,
        "width": 0,
        "height": 0,
        "label": "MAISCHVAT WORT",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 720,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "5c556b45.24c77c",
        "type": "change",
        "z": "8dd021bb.b57a4",
        "name": "GetT3Data",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.sensordata.T3",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 880,
        "wires": [
            [
                "601c801e.c00f08",
                "ccff8adf.e5da"
            ]
        ]
    },
    {
        "id": "10e46035.d01d08",
        "type": "ui_switch",
        "z": "8dd021bb.b57a4",
        "name": "PumpSwitch",
        "label": "Pump",
        "tooltip": "",
        "group": "4da78f89.fde46",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 670,
        "y": 980,
        "wires": [
            [
                "f59f7451.1f0558"
            ]
        ]
    },
    {
        "id": "5664e3de.fc6a74",
        "type": "change",
        "z": "8dd021bb.b57a4",
        "name": "GetPumpData",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$boolean(payload.processdata.Pump)\t",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 980,
        "wires": [
            [
                "10e46035.d01d08"
            ]
        ]
    },
    {
        "id": "81ee9739.d9875",
        "type": "change",
        "z": "8dd021bb.b57a4",
        "name": "GetHeaterData",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$boolean(payload.processdata.Heater)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 1040,
        "wires": [
            [
                "120f51d7.002a56"
            ]
        ]
    },
    {
        "id": "120f51d7.002a56",
        "type": "ui_switch",
        "z": "8dd021bb.b57a4",
        "name": "HeaterSwitch",
        "label": "Heater",
        "tooltip": "",
        "group": "4da78f89.fde46",
        "order": 9,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 680,
        "y": 1040,
        "wires": [
            [
                "a706b8e9.8d2298"
            ]
        ]
    },
    {
        "id": "8afbccf.b0274b",
        "type": "serial in",
        "z": "8dd021bb.b57a4",
        "name": "USB_COM",
        "serial": "92c7af30.17e9a8",
        "x": 80,
        "y": 880,
        "wires": [
            [
                "692d9c94.58984c"
            ]
        ]
    },
    {
        "id": "2f56bb2b.d5f3c4",
        "type": "inject",
        "z": "8dd021bb.b57a4",
        "d": true,
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"processdata\":{\"Pump\":0,\"Heater\":0}}",
        "payloadType": "json",
        "x": 150,
        "y": 1020,
        "wires": [
            [
                "5664e3de.fc6a74",
                "81ee9739.d9875"
            ]
        ]
    },
    {
        "id": "692d9c94.58984c",
        "type": "json",
        "z": "8dd021bb.b57a4",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 210,
        "y": 880,
        "wires": [
            [
                "5645ba34.f8ed04",
                "e3f7b09f.c05b88",
                "5c556b45.24c77c",
                "e15415b1.7b4b2",
                "5664e3de.fc6a74",
                "81ee9739.d9875",
                "a55c7441.94ff9",
                "576c80e1.62114"
            ]
        ]
    },
    {
        "id": "a55c7441.94ff9",
        "type": "change",
        "z": "8dd021bb.b57a4",
        "name": "ValueMapper",
        "rules": [
            {
                "t": "change",
                "p": "payload.processdata.ProcessAuto",
                "pt": "msg",
                "from": "0",
                "fromt": "num",
                "to": "Manual mode",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload.processdata.ProcessAuto",
                "pt": "msg",
                "from": "1",
                "fromt": "num",
                "to": "Automatic mode",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload.processdata.ProcessStep",
                "pt": "msg",
                "from": "0",
                "fromt": "num",
                "to": "Idle Step",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload.processdata.ProcessStep",
                "pt": "msg",
                "from": "1",
                "fromt": "num",
                "to": "Step 1",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload.processdata.ProcessStep",
                "pt": "msg",
                "from": "2",
                "fromt": "num",
                "to": "Step 2",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload.processdata.ProcessStep",
                "pt": "msg",
                "from": "3",
                "fromt": "num",
                "to": "Step 3",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 1140,
        "wires": [
            [
                "9331aa30.41437",
                "ce88b406.3d5e38",
                "8239c85a.4ecf",
                "b20cdf57.acbe48"
            ]
        ]
    },
    {
        "id": "ce88b406.3d5e38",
        "type": "ui_text",
        "z": "8dd021bb.b57a4",
        "group": "35700b71.03d264",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "ProcessStep",
        "label": "ProcessStep:",
        "format": "{{msg.payload.processdata.ProcessStep}}",
        "layout": "col-center",
        "x": 570,
        "y": 1260,
        "wires": []
    },
    {
        "id": "9331aa30.41437",
        "type": "ui_text",
        "z": "8dd021bb.b57a4",
        "group": "35700b71.03d264",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "ProcessAuto",
        "label": "ProcessMode:",
        "format": "{{msg.payload.processdata.ProcessAuto}}",
        "layout": "col-center",
        "x": 590,
        "y": 1140,
        "wires": []
    },
    {
        "id": "c0e5439e.5440b8",
        "type": "function",
        "z": "8dd021bb.b57a4",
        "name": "ProcessAutoString",
        "func": "processAuto = msg.payload.processdata.ProcessAuto;\nmsg.payload = processAuto;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 910,
        "y": 1080,
        "wires": [
            [
                "5d0a925.e621f6c"
            ]
        ]
    },
    {
        "id": "f0c8f5ce.86f6b8",
        "type": "function",
        "z": "8dd021bb.b57a4",
        "name": "ProcessStepString",
        "func": "processStep = msg.payload.processdata.ProcessStep;\nmsg.payload = processStep;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 890,
        "y": 1200,
        "wires": [
            [
                "f9ff7905.c1d3e8"
            ]
        ]
    },
    {
        "id": "8239c85a.4ecf",
        "type": "rbe",
        "z": "8dd021bb.b57a4",
        "name": "ChangeDetectProcessMode",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "property": "payload.processdata.ProcessAuto",
        "x": 640,
        "y": 1100,
        "wires": [
            [
                "c0e5439e.5440b8"
            ]
        ]
    },
    {
        "id": "b20cdf57.acbe48",
        "type": "rbe",
        "z": "8dd021bb.b57a4",
        "name": "ChangeDetectProcessStep",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "property": "payload.processdata.ProcessStep",
        "x": 640,
        "y": 1200,
        "wires": [
            [
                "f0c8f5ce.86f6b8"
            ]
        ]
    },
    {
        "id": "5d0a925.e621f6c",
        "type": "ui_audio",
        "z": "8dd021bb.b57a4",
        "name": "",
        "group": "66b6f4fd.14bd8c",
        "voice": "Google UK English Male",
        "always": "",
        "x": 1130,
        "y": 1140,
        "wires": []
    },
    {
        "id": "f9ff7905.c1d3e8",
        "type": "ui_audio",
        "z": "8dd021bb.b57a4",
        "name": "",
        "group": "66b6f4fd.14bd8c",
        "voice": "Google UK English Male",
        "always": "",
        "x": 1110,
        "y": 1220,
        "wires": []
    },
    {
        "id": "19a2bb91.9d293c",
        "type": "inject",
        "z": "8dd021bb.b57a4",
        "name": "",
        "props": [
            {
                "p": "recipe",
                "v": "{\"name\":\"Dummy Recipe\",\"ingredient_params\":{\"hop\":\"100g tarzannekes\",\"output\":\"80L yield\"},\"steps\":[{\"name\":\"Ruststap\",\"stepconditions\":{},\"outputs\":{\"pump\":0,\"heater\":0,\"valve\":0}},{\"name\":\"Vulstap\",\"stepconditions\":{\"time\":2},\"outputs\":{\"pump\":1,\"heater\":0,\"valve\":1}},{\"name\":\"Opwarmfase\",\"stepconditions\":{\"T1\":30,\"time\":3},\"outputs\":{\"pump\":1,\"heater\":1,\"valve\":1}},{\"name\":\"Maischfase - step 1\",\"stepconditions\":{\"T1\":40,\"time\":4},\"outputs\":{\"pump\":1,\"heater\":1,\"valve\":1}},{\"name\":\"Maischfase - step 2\",\"stepconditions\":{\"T1\":50,\"time\":5},\"outputs\":{\"pump\":1,\"heater\":1,\"valve\":1}}]}",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 290,
        "y": 200,
        "wires": [
            [
                "f7968f84.15d858"
            ]
        ]
    },
    {
        "id": "4fad69.f62fba98",
        "type": "function",
        "z": "8dd021bb.b57a4",
        "name": "RecipeProcessor",
        "func": "var stepcondition = false;\nvar output = {};\n\n\n\n\n// check if stepconditions are met for proceeding to next step:\nif (msg.process.currentstep < msg.process.totalsteps -1 && !msg.process.finished){\n    stepcondition = true;\n}\nelse {\n    stepcondition = false;\n}\n\n// if last stap is not reached and process is not yet finished: go to next step\nif (stepcondition){\n    msg.process.currentstep++;\n    step = msg.process.currentstep;\n    \n    output = msg.recipe.steps[step].outputs;\n    msg.test = output;//node.send([null,null,test]);\n /*   for (var i = 0; i < msg.recipe.steps[step].outputs.length; i++) {\n        node.send([null,null,msg.recipe.steps[step].outputs[i]]);\n    }*/\n    \n    stepname = { \"stepname\" : msg.recipe.steps[step].name}\n    if (msg.recipe.steps[step].stepconditions.hasOwnProperty(\"time\")){\n        msg.delay = msg.recipe.steps[step].stepconditions.time * 1000; //conversion to milliseconds\n    }\n    else{\n        msg.delay = 0;\n    }\n    node.send([msg,stepname,msg]);\n}\nelse{\n    msg.process.finished = true;\n    msg.process.currentstep = 0;\n    msg.delay = 0;\n    node.send([msg,stepname,null]);\n}\nreturn null;\n\n\n\n\n\n    \n\n\n\n\n\n\n\n\n\n",
        "outputs": 3,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 730,
        "y": 200,
        "wires": [
            [
                "6417aee.d17c65",
                "4050d57e.fc288c"
            ],
            [
                "35e5f233.b0a366"
            ],
            [
                "f366f063.e39478"
            ]
        ]
    },
    {
        "id": "4050d57e.fc288c",
        "type": "debug",
        "z": "8dd021bb.b57a4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 950,
        "y": 300,
        "wires": []
    },
    {
        "id": "6417aee.d17c65",
        "type": "ui_text",
        "z": "8dd021bb.b57a4",
        "group": "39d3a6b0.0f5642",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "RecipeName",
        "label": "text",
        "format": "{{msg.recipe.name}}",
        "layout": "row-spread",
        "x": 970,
        "y": 120,
        "wires": []
    },
    {
        "id": "f366f063.e39478",
        "type": "delay",
        "z": "8dd021bb.b57a4",
        "name": "steptimer",
        "pauseType": "delayv",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "x": 740,
        "y": 320,
        "wires": [
            [
                "4fad69.f62fba98"
            ]
        ]
    },
    {
        "id": "f7968f84.15d858",
        "type": "function",
        "z": "8dd021bb.b57a4",
        "name": "InitializeProcess",
        "func": "var allsteps = {};\nallsteps = Object.keys(msg.recipe.steps).length;\nmsg.process = {\"currentstep\" : 0, \"totalsteps\" : allsteps, \"finished\" : false}\nnode.send(msg);",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 200,
        "wires": [
            [
                "4fad69.f62fba98"
            ]
        ]
    },
    {
        "id": "35e5f233.b0a366",
        "type": "ui_text",
        "z": "8dd021bb.b57a4",
        "group": "39d3a6b0.0f5642",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "StepName",
        "format": "{{stepname}}",
        "layout": "row-spread",
        "x": 970,
        "y": 200,
        "wires": []
    },
    {
        "id": "9e1dc1da.8b0db",
        "type": "ui_gauge",
        "z": "8dd021bb.b57a4",
        "name": "",
        "group": "66f95b6e.2ba5d4",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "KRAAN 1",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "1",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1160,
        "y": 1680,
        "wires": []
    },
    {
        "id": "cca0e5fc.3857a8",
        "type": "ui_switch",
        "z": "8dd021bb.b57a4",
        "name": "",
        "label": "KRAAN 1",
        "tooltip": "",
        "group": "66f95b6e.2ba5d4",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "x": 980,
        "y": 1680,
        "wires": [
            [
                "9e1dc1da.8b0db"
            ]
        ]
    },
    {
        "id": "22f02ae1.775f26",
        "type": "ui_gauge",
        "z": "8dd021bb.b57a4",
        "name": "",
        "group": "66f95b6e.2ba5d4",
        "order": 6,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "KRAAN 2",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "1",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1160,
        "y": 1720,
        "wires": []
    },
    {
        "id": "2000a99d.802296",
        "type": "ui_switch",
        "z": "8dd021bb.b57a4",
        "name": "",
        "label": "KRAAN 2",
        "tooltip": "",
        "group": "66f95b6e.2ba5d4",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "x": 980,
        "y": 1720,
        "wires": [
            [
                "22f02ae1.775f26"
            ]
        ]
    },
    {
        "id": "7b400ebf.bb23",
        "type": "ui_gauge",
        "z": "8dd021bb.b57a4",
        "name": "",
        "group": "66f95b6e.2ba5d4",
        "order": 10,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "KRAAN 3",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "1",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1160,
        "y": 1760,
        "wires": []
    },
    {
        "id": "9ecf7d95.58b5b",
        "type": "ui_switch",
        "z": "8dd021bb.b57a4",
        "name": "",
        "label": "KRAAN 3",
        "tooltip": "",
        "group": "66f95b6e.2ba5d4",
        "order": 9,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "x": 980,
        "y": 1760,
        "wires": [
            [
                "7b400ebf.bb23"
            ]
        ]
    },
    {
        "id": "2fe72f95.a0758",
        "type": "ui_gauge",
        "z": "8dd021bb.b57a4",
        "name": "",
        "group": "58c426a1.17a658",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "KRAAN 4",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "1",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1160,
        "y": 1800,
        "wires": []
    },
    {
        "id": "9c6c245a.ebf158",
        "type": "ui_switch",
        "z": "8dd021bb.b57a4",
        "name": "",
        "label": "KRAAN 4",
        "tooltip": "",
        "group": "58c426a1.17a658",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "x": 980,
        "y": 1800,
        "wires": [
            [
                "2fe72f95.a0758"
            ]
        ]
    },
    {
        "id": "10f2297a.5619e7",
        "type": "ui_gauge",
        "z": "8dd021bb.b57a4",
        "name": "",
        "group": "4da78f89.fde46",
        "order": 2,
        "width": 5,
        "height": 4,
        "gtype": "donut",
        "title": "GASVUUR",
        "label": "STAND",
        "format": "{{value}}",
        "min": "0",
        "max": "2",
        "colors": [
            "#00b500",
            "#ffa200",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "1",
        "x": 310,
        "y": 1580,
        "wires": []
    },
    {
        "id": "90c56d60.a44d7",
        "type": "ui_slider",
        "z": "8dd021bb.b57a4",
        "name": "",
        "label": "GASVUUR",
        "tooltip": "",
        "group": "4da78f89.fde46",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "",
        "min": 0,
        "max": "2",
        "step": 1,
        "x": 130,
        "y": 1580,
        "wires": [
            [
                "10f2297a.5619e7"
            ]
        ]
    },
    {
        "id": "9082a850.6be0f8",
        "type": "ui_button",
        "z": "8dd021bb.b57a4",
        "name": "",
        "group": "720d2ed2.786f8",
        "order": 1,
        "width": 8,
        "height": 3,
        "passthru": false,
        "label": "NEXT",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 210,
        "y": 1660,
        "wires": [
            []
        ]
    },
    {
        "id": "1dce7d56.cc7553",
        "type": "ui_button",
        "z": "8dd021bb.b57a4",
        "name": "",
        "group": "720d2ed2.786f8",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "BACK",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 210,
        "y": 1700,
        "wires": [
            []
        ]
    },
    {
        "id": "fdf1e2e1.7cf0d",
        "type": "ui_button",
        "z": "8dd021bb.b57a4",
        "name": "",
        "group": "720d2ed2.786f8",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "WAIT",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 210,
        "y": 1740,
        "wires": [
            []
        ]
    },
    {
        "id": "dc2e2678.4765a8",
        "type": "ui_text",
        "z": "8dd021bb.b57a4",
        "group": "720d2ed2.786f8",
        "order": 5,
        "width": 8,
        "height": 10,
        "name": "",
        "label": "BERICHT:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 400,
        "y": 1720,
        "wires": []
    },
    {
        "id": "aa46fcf9.dfcc2",
        "type": "http in",
        "z": "8dd021bb.b57a4",
        "name": "",
        "url": "/users",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 1360,
        "wires": [
            [
                "67c32d1d.6c4c34"
            ]
        ]
    },
    {
        "id": "d848d2f1.6f433",
        "type": "http response",
        "z": "8dd021bb.b57a4",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1050,
        "y": 1360,
        "wires": []
    },
    {
        "id": "31e18c88.ad55e4",
        "type": "change",
        "z": "8dd021bb.b57a4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "headers.content-type",
                "pt": "msg",
                "to": "application/json",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 1360,
        "wires": [
            [
                "d848d2f1.6f433"
            ]
        ]
    },
    {
        "id": "67c32d1d.6c4c34",
        "type": "change",
        "z": "8dd021bb.b57a4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "timestamp",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 1360,
        "wires": [
            [
                "31e18c88.ad55e4"
            ]
        ]
    },
    {
        "id": "bfb297d3.6087e8",
        "type": "ui_gauge",
        "z": "8dd021bb.b57a4",
        "name": "CPU TEMP",
        "group": "58c426a1.17a658",
        "order": 11,
        "width": 5,
        "height": 4,
        "gtype": "gage",
        "title": "RPI CPU TEMP",
        "label": "C째",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "50",
        "seg2": "70",
        "x": 1050,
        "y": 1440,
        "wires": []
    },
    {
        "id": "ae5a28ec.a9a238",
        "type": "exec",
        "z": "8dd021bb.b57a4",
        "command": "vcgencmd measure_temp",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "Raspberry CPU Temperature",
        "x": 400,
        "y": 1460,
        "wires": [
            [
                "c23a69a7.e38218"
            ],
            [],
            []
        ]
    },
    {
        "id": "c23a69a7.e38218",
        "type": "function",
        "z": "8dd021bb.b57a4",
        "name": "Extract CPU Temp",
        "func": "const re = /^temp=(.*)'C$/gm;\nmsg.payload = Number(msg.payload.replace(re, '$1'));\n// msg.topic= msg.payload.replace(re, '$1');\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 690,
        "y": 1440,
        "wires": [
            [
                "bfb297d3.6087e8",
                "72a75164.ba793"
            ]
        ]
    },
    {
        "id": "28bc8de.d4f3572",
        "type": "inject",
        "z": "8dd021bb.b57a4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": "0.1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 1460,
        "wires": [
            [
                "ae5a28ec.a9a238"
            ]
        ]
    },
    {
        "id": "72a75164.ba793",
        "type": "ui_chart",
        "z": "8dd021bb.b57a4",
        "d": true,
        "name": "",
        "group": "58c426a1.17a658",
        "order": 10,
        "width": 0,
        "height": 0,
        "label": "RPI CPU TEMP",
        "chartType": "line",
        "legend": "true",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "20",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1060,
        "y": 1500,
        "wires": [
            []
        ]
    },
    {
        "id": "576c80e1.62114",
        "type": "change",
        "z": "8dd021bb.b57a4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "timestamp",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 970,
        "y": 960,
        "wires": [
            []
        ]
    },
    {
        "id": "f84d207f.982da",
        "type": "ui_gauge",
        "z": "8dd021bb.b57a4",
        "name": "",
        "group": "4da78f89.fde46",
        "order": 6,
        "width": 5,
        "height": 4,
        "gtype": "donut",
        "title": "POMP",
        "label": "STAND",
        "format": "{{value}}",
        "min": "0",
        "max": "1",
        "colors": [
            "#00b500",
            "#ffa200",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "1",
        "x": 1470,
        "y": 980,
        "wires": []
    },
    {
        "id": "294424b.f8a2adc",
        "type": "ui_gauge",
        "z": "8dd021bb.b57a4",
        "name": "",
        "group": "4da78f89.fde46",
        "order": 10,
        "width": 5,
        "height": 4,
        "gtype": "donut",
        "title": "WEERSTAND",
        "label": "STAND",
        "format": "{{value}}",
        "min": "0",
        "max": "1",
        "colors": [
            "#00b500",
            "#ffa200",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "1",
        "x": 1440,
        "y": 1040,
        "wires": []
    },
    {
        "id": "f59f7451.1f0558",
        "type": "change",
        "z": "8dd021bb.b57a4",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "true",
                "fromt": "bool",
                "to": "1",
                "tot": "num"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1240,
        "y": 980,
        "wires": [
            [
                "f84d207f.982da"
            ]
        ]
    },
    {
        "id": "a706b8e9.8d2298",
        "type": "change",
        "z": "8dd021bb.b57a4",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "true",
                "fromt": "bool",
                "to": "1",
                "tot": "num"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1240,
        "y": 1040,
        "wires": [
            [
                "294424b.f8a2adc"
            ]
        ]
    },
    {
        "id": "a854ff4f.772aa",
        "type": "ui_gauge",
        "z": "8dd021bb.b57a4",
        "name": "",
        "group": "58c426a1.17a658",
        "order": 6,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "KRAAN 5",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "1",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1160,
        "y": 1840,
        "wires": []
    },
    {
        "id": "a0b57fd6.543b",
        "type": "ui_switch",
        "z": "8dd021bb.b57a4",
        "name": "",
        "label": "KRAAN 5",
        "tooltip": "",
        "group": "58c426a1.17a658",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "topicType": "str",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "x": 980,
        "y": 1840,
        "wires": [
            [
                "a854ff4f.772aa"
            ]
        ]
    }
]