flows.json
[{"id":"8dd021bb.b57a4","type":"tab","label":"Brewster","disabled":false,"info":""},{"id":"d4d2aaa4.3f773","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"brewsterdb","name":"","usetls":false,"tls":""},{"id":"66b6f4fd.14bd8c","type":"ui_group","z":"","name":"T1","tab":"b30d8d21.aaa0f8","order":1,"disp":true,"width":"6","collapse":false},{"id":"35700b71.03d264","type":"ui_group","z":"","name":"T2","tab":"b30d8d21.aaa0f8","order":2,"disp":true,"width":"6","collapse":false},{"id":"27527a91.1832fe","type":"ui_group","z":"","name":"T3","tab":"b30d8d21.aaa0f8","order":3,"disp":true,"width":"6","collapse":false},{"id":"92c7af30.17e9a8","type":"serial-port","z":"","serialport":"/dev/ttyACM0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"b30d8d21.aaa0f8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"39d3a6b0.0f5642","type":"ui_group","z":"","name":"T3","tab":"593a0f7e.e74b08","order":3,"disp":true,"width":"6","collapse":false},{"id":"593a0f7e.e74b08","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"98679009.5c332","type":"inject","z":"8dd021bb.b57a4","d":true,"name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"brewster","payload":"{\"sensordata\":{\"T1\":22.353,\"T2\":24.25,\"T3\":23.75}}","payloadType":"json","x":170,"y":480,"wires":[["e3f7b09f.c05b88","5c556b45.24c77c","5645ba34.f8ed04"]]},{"id":"5645ba34.f8ed04","type":"change","z":"8dd021bb.b57a4","name":"GetT1Data","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.sensordata.T1","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":680,"wires":[["21d6c68f.c0e00a","642e5062.3ebd48"]]},{"id":"e15415b1.7b4b2","type":"function","z":"8dd021bb.b57a4","name":"FormatLogging","func":"msg.payload = {\n    T1: msg.payload.sensordata.T1,\n    T2: msg.payload.sensordata.T2,\n    T3: msg.payload.sensordata.T3,\n    Pump: msg.payload.processdata.Pump,\n    Heating: msg.payload.processdata.Heater,\n    ProcessAuto: msg.payload.processdata.ProcessAuto,\n    ProcessStep: msg.payload.processdata.ProcessStep\n}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":620,"wires":[["35ea7af.413ec06","e39675b0.f178c"]]},{"id":"35ea7af.413ec06","type":"influxdb out","z":"8dd021bb.b57a4","influxdb":"d4d2aaa4.3f773","name":"","measurement":"brewster","precision":"s","retentionPolicy":"","x":830,"y":580,"wires":[]},{"id":"e39675b0.f178c","type":"debug","z":"8dd021bb.b57a4","name":"Debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1010,"y":820,"wires":[]},{"id":"21d6c68f.c0e00a","type":"ui_gauge","z":"8dd021bb.b57a4","name":"","group":"66b6f4fd.14bd8c","order":1,"width":"0","height":"0","gtype":"gage","title":"T1","label":"Graden","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"50","seg2":"","x":670,"y":660,"wires":[]},{"id":"642e5062.3ebd48","type":"ui_chart","z":"8dd021bb.b57a4","name":"","group":"66b6f4fd.14bd8c","order":2,"width":"0","height":"0","label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":670,"y":700,"wires":[[]]},{"id":"9783007.18a5e","type":"ui_gauge","z":"8dd021bb.b57a4","name":"","group":"35700b71.03d264","order":1,"width":0,"height":0,"gtype":"gage","title":"T2","label":"Graden","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"50","seg2":"","x":670,"y":760,"wires":[]},{"id":"ef7c798d.54aa2","type":"ui_chart","z":"8dd021bb.b57a4","name":"","group":"35700b71.03d264","order":2,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":670,"y":800,"wires":[[]]},{"id":"e3f7b09f.c05b88","type":"change","z":"8dd021bb.b57a4","name":"GetT2Data","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.sensordata.T2","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":780,"wires":[["9783007.18a5e","ef7c798d.54aa2"]]},{"id":"601c801e.c00f08","type":"ui_gauge","z":"8dd021bb.b57a4","name":"","group":"27527a91.1832fe","order":1,"width":0,"height":0,"gtype":"gage","title":"T3","label":"Graden","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"50","seg2":"","x":670,"y":860,"wires":[]},{"id":"ccff8adf.e5da","type":"ui_chart","z":"8dd021bb.b57a4","name":"","group":"27527a91.1832fe","order":2,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":670,"y":900,"wires":[[]]},{"id":"5c556b45.24c77c","type":"change","z":"8dd021bb.b57a4","name":"GetT3Data","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.sensordata.T3","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":880,"wires":[["601c801e.c00f08","ccff8adf.e5da"]]},{"id":"10e46035.d01d08","type":"ui_switch","z":"8dd021bb.b57a4","name":"PumpSwitch","label":"Pump","tooltip":"","group":"66b6f4fd.14bd8c","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":670,"y":980,"wires":[[]]},{"id":"5664e3de.fc6a74","type":"change","z":"8dd021bb.b57a4","name":"GetPumpData","rules":[{"t":"set","p":"payload","pt":"msg","to":"$boolean(payload.processdata.Pump)\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":980,"wires":[["10e46035.d01d08"]]},{"id":"81ee9739.d9875","type":"change","z":"8dd021bb.b57a4","name":"GetHeaterData","rules":[{"t":"set","p":"payload","pt":"msg","to":"$boolean(payload.processdata.Heater)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":1040,"wires":[["120f51d7.002a56"]]},{"id":"120f51d7.002a56","type":"ui_switch","z":"8dd021bb.b57a4","name":"HeaterSwitch","label":"Heater","tooltip":"","group":"66b6f4fd.14bd8c","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":680,"y":1040,"wires":[[]]},{"id":"8afbccf.b0274b","type":"serial in","z":"8dd021bb.b57a4","name":"USB_COM","serial":"92c7af30.17e9a8","x":80,"y":880,"wires":[["692d9c94.58984c"]]},{"id":"2f56bb2b.d5f3c4","type":"inject","z":"8dd021bb.b57a4","d":true,"name":"","props":[{"p":"payload"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"processdata\":{\"Pump\":0,\"Heater\":0}}","payloadType":"json","x":150,"y":1020,"wires":[["5664e3de.fc6a74","81ee9739.d9875"]]},{"id":"692d9c94.58984c","type":"json","z":"8dd021bb.b57a4","name":"","property":"payload","action":"","pretty":false,"x":210,"y":880,"wires":[["5645ba34.f8ed04","e3f7b09f.c05b88","5c556b45.24c77c","e15415b1.7b4b2","5664e3de.fc6a74","81ee9739.d9875","a55c7441.94ff9"]]},{"id":"a55c7441.94ff9","type":"change","z":"8dd021bb.b57a4","name":"ValueMapper","rules":[{"t":"change","p":"payload.processdata.ProcessAuto","pt":"msg","from":"0","fromt":"num","to":"Manual mode","tot":"str"},{"t":"change","p":"payload.processdata.ProcessAuto","pt":"msg","from":"1","fromt":"num","to":"Automatic mode","tot":"str"},{"t":"change","p":"payload.processdata.ProcessStep","pt":"msg","from":"0","fromt":"num","to":"Idle Step","tot":"str"},{"t":"change","p":"payload.processdata.ProcessStep","pt":"msg","from":"1","fromt":"num","to":"Step 1","tot":"str"},{"t":"change","p":"payload.processdata.ProcessStep","pt":"msg","from":"2","fromt":"num","to":"Step 2","tot":"str"},{"t":"change","p":"payload.processdata.ProcessStep","pt":"msg","from":"3","fromt":"num","to":"Step 3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":1140,"wires":[["9331aa30.41437","ce88b406.3d5e38","8239c85a.4ecf","b20cdf57.acbe48"]]},{"id":"ce88b406.3d5e38","type":"ui_text","z":"8dd021bb.b57a4","group":"35700b71.03d264","order":0,"width":0,"height":0,"name":"ProcessStep","label":"ProcessStep:","format":"{{msg.payload.processdata.ProcessStep}}","layout":"col-center","x":570,"y":1260,"wires":[]},{"id":"9331aa30.41437","type":"ui_text","z":"8dd021bb.b57a4","group":"35700b71.03d264","order":0,"width":0,"height":0,"name":"ProcessAuto","label":"ProcessMode:","format":"{{msg.payload.processdata.ProcessAuto}}","layout":"col-center","x":590,"y":1140,"wires":[]},{"id":"c0e5439e.5440b8","type":"function","z":"8dd021bb.b57a4","name":"ProcessAutoString","func":"processAuto = msg.payload.processdata.ProcessAuto;\nmsg.payload = processAuto;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":910,"y":1080,"wires":[["5d0a925.e621f6c"]]},{"id":"f0c8f5ce.86f6b8","type":"function","z":"8dd021bb.b57a4","name":"ProcessStepString","func":"processStep = msg.payload.processdata.ProcessStep;\nmsg.payload = processStep;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":890,"y":1200,"wires":[["f9ff7905.c1d3e8"]]},{"id":"8239c85a.4ecf","type":"rbe","z":"8dd021bb.b57a4","name":"ChangeDetectProcessMode","func":"rbe","gap":"","start":"","inout":"out","property":"payload.processdata.ProcessAuto","x":640,"y":1100,"wires":[["c0e5439e.5440b8"]]},{"id":"b20cdf57.acbe48","type":"rbe","z":"8dd021bb.b57a4","name":"ChangeDetectProcessStep","func":"rbe","gap":"","start":"","inout":"out","property":"payload.processdata.ProcessStep","x":640,"y":1200,"wires":[["f0c8f5ce.86f6b8"]]},{"id":"5d0a925.e621f6c","type":"ui_audio","z":"8dd021bb.b57a4","name":"","group":"66b6f4fd.14bd8c","voice":"Google UK English Male","always":"","x":1130,"y":1140,"wires":[]},{"id":"f9ff7905.c1d3e8","type":"ui_audio","z":"8dd021bb.b57a4","name":"","group":"66b6f4fd.14bd8c","voice":"Google UK English Male","always":"","x":1110,"y":1220,"wires":[]}]